body {
  margin: 0;
  color: #FFFFFF;
  padding: 1em;
  background: #1E293B;
}

#app {
  background: #1E293B;
  min-height: 100vh;
}

#intro {
}

#intro h1, #intro h3 {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;

  margin: 0.35em;
}

svg {
  background-color: #eee;
  width: 95%;
  min-height: 800px;
  height: 100%;
}

circle {
  stroke: black;
}


