body {
  margin: 0;
  padding: 0.5em;
  background: #1E293B;
}

#app {
  background: #1E293B;
}

svg {
  background-color: #eee;
  width: 100%;
  height: 99vh;
}

.controls {
  position: absolute;
  text-align:center;
  width: 100%;
}

circle {
  stroke: black;
}


