body {
  margin: 0;
  padding: 1em;
}

#app {
  min-height: 100vh;
}



#intro img {
  width: 6.5em;
  margin: 0.5em 2em;
}


table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  min-width: 100px;
}
