:root {
  --blue: #1e293b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:sans-serif;
}


nav {
  width: 100%;
  background: #1E293B;
}

li {
  list-style: none;
}

nav ul {
  display: flex;
  align-items: space-between;
}

nav a {
  color: white;
  display: block;
  padding: 1em;
  text-decoration: none;
}

main {
  padding: 1em;
  
}

input, select, button {
  padding: 0.5em;
  margin: 0.5em;
}

select {
  min-width: 165px;
}
svg {
  background-color: #eee;
  width: 100%;
  height: 99vh;
}

button {
background: var(--blue);
color: white;
border: none;
border-radius: 0.2em;
}

button[disabled] {
  background: #ccc;
}
.controls {
  position: absolute;
  text-align:center;
  width: 100%;
}

circle {
  stroke: black;
}

.home-page {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.home-page p {
  text-align:left;
  margin: 2em;
}


footer {
  position: fixed;
  bottom: 1em;
  text-align: center;
  width: 100%;
}

.page-wrapper {
  width: 800px;
  margin: 0 auto;
  text-align:center;
}
